doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title battleship
    script(type='module' crossorigin='' src='/assets/index-CV38b2oe.js')
    link(rel='stylesheet' crossorigin='' href='/assets/index-7yjpyX7V.css')
    ink(rel='icon' href='')
#root

