doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title battleship
    script(type='module' crossorigin='' src='/assets/index-D-0wfcbx.js')
    link(rel='stylesheet' crossorigin='' href='/assets/index-DdinFBUe.css')
    ink(rel='icon' href='data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP///wAAAAD///8AAAAA/////wAAAP//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')
#root
